#main{width: 250px; margin: 0 auto;}

h1 a[href]{
    color: orange;
    text-decoration-line: none;
}
#main h1{margin: 50px 0 0 0; padding-bottom: 5px; border-bottom: solid 2px #ffbe10; font-size: 20px; font-weight: bold;}
#login_idpw{margin-top: 20px;}
#main input{width: 250px; height: 50px;}
#main #loginbtn {margin-top: 15px; margin-bottom: 50px;}

 
 
