.dong-gangnam{
    display:none;
}
.dong-mapo{
    display:none;
}
.dong-songpa{
    display:none;
}
.dong-yongsan{
    display:none;
}
.dong-jongro{
    display:none;
}

.searchbtn{
    font-size: 1.1rem;
}
.keyword{
    font-size: 1.125rem;
}
