header{
    height: 20%;
    margin: auto;
    text-align: center;
}
nav{display: inline-block;}

#line{
    display: block;
    width:1px;
    height: 100%;
    background-color: gray;
    position:absolute;
    top: 20%;
    bottom:0;
    right: 20%;
}
aside{
    width: 20%;
    float: right;
    text-align: center;
}
aside div{
    text-align: center;
}
aside div input{
    display: block;
    width: 100px;
    margin: 10px auto;
}
section{
    float: left;
    width: 80%;
    margin-left: 50px;
}

a:link{color: blue;}
a:visited{color: blue;}
a:hover{
    color:cadetblue;
    text-decoration: underline;
}
a:active{color: blue;}
a{text-decoration: none;}

dt{float: left;}
.hot_keyword dd{
    display: inline;
}

.dong-gangnam{
    display:none;
}
.dong-mapo{
    display:none;
}
.dong-songpa{
    display:none;
}
.dong-yongsan{
    display:none;
}
.dong-jongro{
    display:none;
}

.searchbtn{
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    font-size:medium;
}
.keyword{
    width: 400px;
    height: 45px;
    font-size:medium;
}

