.main_content{
    float: left;
    width: 80%;
}

h1 a[href]{
    color:orange;
    text-decoration-line: none;
}


.main_content form{
    float: none;
}

#choose .gu-region{
    float: left;
    width: 50%
}

#choose .foodtype{
    float: left;
    width: 50%
}

#line{
    display: block;
    width:1px;
    background-color: gray;
    position:absolute;
    top:0;
    bottom:0;
    right: 20%;
}

form{
    float: right;
}

.mymenu{
    float: right;
    width: 200px;
    
}

.mymenu input{
    width: 100px;
    margin: 10px;
}

/*php*/
#search-word{
    text-align: center;
}

.review{
    margin: 20px;
    border-style: double;
    border-radius: 5px;
}

#reviewContent{
    padding: 10px;
    
}

#reviewContent b{
    font-size: 17px;
}

#reviewContent i{
    float: right;
}
