.main_content{
    float: left;
    width: 80%;
}

#choose .gu-region{
    float: left;
    width: 50%
}

#choose .foodtype{
    float: left;
    width: 50%
}

#review-list{
    display: none;
}

#line{
    display: block;
    width:1px;
    background-color: gray;
    position:absolute;
    top:0;
    bottom:0;
    right: 210px;
}

form{
    float: right;
}

.mymenu{
    float: right;
    width: 100px;
    margin: 20px 50px 0 50px;
}

.mymenu input{
    width: 100px;
    margin: 10px;
}