header{
    height: 20%;
    margin: auto;
    text-align: center;
}
a:link{color: blue;}
a:visited{color: blue;}
a:hover{
    color:cadetblue;
    text-decoration: underline;
}
a:active{color: blue;}
a{
    text-decoration: none;
}

.result_box .info_category{
    font-size:14px;
    color: #3673ee;
    vertical-align: baseline;
}
.result_box .info_address{
    color: #686868;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#line{
    display: block;
    width:1px;
    height: 100%;
    background-color: gray;
    position:absolute;
    top: 20%;
    bottom:0;
    right: 20%;
}

aside{
    width: 20%;
    float: right;
    text-align: center;
}
aside div{
    text-align: center;
}
aside div input{
    display: block;
    width: 100px;
    margin: 10px auto;
}
section{
    float: left;
    margin-left: 50px;
}